# Base de Datos
POSTGRES_USER=admin
POSTGRES_PASSWORD=cambiar_este_password
POSTGRES_DB=puntos_interes
DB_HOST=db
DB_PORT=5432

# Backend (puerto interino)
BACKEND_PORT=8000

# Proxy principal (puerto por el que se accederá desde el navegador)
PROXY_PORT=80

# Nota: El frontend no necesita puerto expuesto, el proxy lo redirige internamente
